<div className="descproducto">
    <img src="{{product.thumbnails}}" alt="">
    <h2>{{product.title}}</h2>

    <h4>{{product.category}}</h4>
    </Link>
    <hr />
    <p>
        En rebanadas, por trozo o la pieza entera de <strong>{{product.title}}</strong>.
        <br />
        <br />
        {{product.description}}
        <br />
        <br />
    </p>
    <p className="indicacion">
        <br />
        VENTA MÍNIMA {{product.minimo}} gr x ${{product.price}}.
    </p>
    <hr />

</div>

<link rel="stylesheet" type="text/css" href="/css/style.css">